.body{
    background-color: white;
}

.body1{
    background-color: gray;
}

.body2{
    background-color: red;
}

.body3{
    background-color: blue;
}

.body4{
    background-color: yellow;
}

.row{
    display:flex; flex-direction:row;
}

