
.navbar,
.navbar-default {
    background-color: #24242C;
    color:#D3E2EA;
}

.navbar-brand{
    font-family: 'Segoe UI';
    color: #D3E2EA !important;
}

.nav-link{
    font-family: 'Segoe UI';
    color: #D3E2EA !important;
    
  }